.weather-app {
  background: linear-gradient(
    99.6deg,
    rgb(112, 128, 152) 10.6%,
    rgb(242, 227, 234) 32.9%,
    rgb(234, 202, 213) 52.7%,
    rgb(220, 227, 239) 72.8%,
    rgb(185, 205, 227) 81.1%,
    rgb(154, 180, 212) 102.4%
  );
  max-width: 700px;
  display: block;
  margin: 30px auto;
  padding: 20px;
  border-radius: 50px;
  border: 1px solid #83cee0;
  font-family: "Lora", serif;
}
h1 {
  font-size: 60px;
  padding-left: 30px;
}

form {
  padding-left: 30px;
}
.Weather li {
  list-style: none;
  font-size: 20px;
}
.Weather .current-temp {
  font-size: 50px;
}

.Weather .units {
  position: relative;
  top: -24px;
}
.Weather .description {
  font-size: 20px;
  padding-left: 20px;
}
.Weather .my-link {
  text-align: center;
  font-size: 18px;
}
